
body::before {
    display: block;
    content: '';
    height: 60px;
  }
  
  


input[type="text"]{
  background-color:#f0e8e2
  }



#headshot{
  padding: 50px;
  transition: transform 1s; /* Animation */
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
#headshot:hover{
  transform: scale(1.2);
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-size: 100%, 100%;
  border-radius: 50%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: #ef6960;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: #ef6960;
}

