
body::before {
    display: block;
    content: '';
    height: 60px;
  }
  
  


input[type="text"]{
  background-color:#f0e8e2
  }



#headshot{
  padding: 50px;
  transition: transform 1s; /* Animation */
  width: 500px;
  height: 500px;
  margin: 0 auto;
}
#headshot:hover{
  transform: scale(1.2);
}

.carousel-caption {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: black;
}