body {
    margin: 0;
    color: black;
    font-family: 'Open Sans', sans-serif;
}


/*********** HEADER ************/

header {
    text-align: center;
    padding: 10px;
    background-color: #A6192E;
    color: white;
    font-family: 'Source Serif Pro', serif;
    
}

h1 {
    margin: 0;
}


/*********** LISTS ************/

#home-options {
    margin: 0 auto;
    width: 20%;
    padding-top: 100px;
}


#page-name {
    margin: 0 auto;
    width: 20%;
    padding-top: 80px;
}

.list {
    padding: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
    background-color: #eeeeee;
    border: 1px solid #cccccc;
}


header a {
    color: white;
    text-decoration: none;
}

.list a {
    color: blue;
    text-decoration: none;
}
