body {
    margin: 0;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1400px;
}
/*********** HEADER ************/

header {
    text-align: center;
    padding: 10px;
    background-color: #A6192E;
    color: white;
    font-family: 'Source Serif Pro', serif;
}

h1 {
    margin: 0;
    text-align: center;
}


/*********** LISTS ************/


#page-name {
    margin: 0 auto;
    width: 20%;
    padding-top: 80px;
}


header a {
    color: white;
    text-decoration: none;
}

.location-name  {
    font-size: 20pt;
}

.location-detail  {
    font-size: 14pt;
}



.main-content {
    padding: 00px;
    margin-left: 00px;
    width: 100%;
    text-align: center;
}
